{% extends "base.html" %}

{% block site_meta %}
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script type="text/javascript">
      //<![CDATA[
      let webapp = window.Telegram.WebApp;
      let initData = webapp.initDataUnsafe;
      if (initData.start_param) {
        const prefix = '/aiogram-3-guide'
        switch (initData.start_param) {
          case 'buttons':
            window.location.replace(`${prefix}/buttons`);
            break;
        }
      }
      //]]>
  </script>

  {{ super() }}
{% endblock %}