# Не забудьте скопировать этот файл под именем .env

BOT_TOKEN = 0000000000:AaBbCcDdEeFfGgHhIiJjKkLlMmNn

# Группа, в которой будет работать наш бот.
# Предполагается, что в рамках этой главы
# бот предназначен для одной группы
MAIN_CHAT_ID = -1001234567890